/*Defining animation of moving moving circles in misson component*/
.circle-animation {
    animation: 10s circle-animation linear infinite;
}

@keyframes circle-animation {
    0%, 100% {transform: translateX(0) translateY(0);}
    40% {transform: translateX(10px) translateY(10px);}
    60% {transform: translateX(20px) translateY(0);}
    80% {transform: translateX(10px) translateY(20px);}
}